 <div class="about-main">
   <img alt="Open" class="icon-menu" src="/assets/open-9688b19dacd0cc7d027490776ace74ff.svg" width="24px" /> 
   <div class="content container"> 
     <h1>Relive your favorite memories</h1> 
   </div> 
</div>

<div class="about-supporting">
  <div class="container"> 
    <h2>No more sorting through photos</h2> 
    <p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p> 
    <p><a class="btn btn-primary" href="/signups/new">Sign up</a></p> 
  </div>
</div>