<div class="home-main">
  <div class="row" >
    <div class="content col-md-6 col-md-offset-6"> 
      <h1>Travel Stories</h1>
      <p><a class="btn btn-primary" href="about">Learn more</a></p> 
      </div>
   </div>
</div> 
<div class="home-supporting">
  <div class="container"> 
    <h2>Relive and share your adventures</h2> 
    <p>Stories automatically creates a digital journal filled with only your best photos.</p> 
  </div>
</div>
<div class="home-secondary"> 
  <div class="container"> 
  </div> 
</div>
<div class="home-about"> 
  <div class="container">
    <h2>Discover Stories</h2> 
    <p><a class="btn btn-primary" href="about">Learn more</a></p>
  </div>
</div> 